<!-- Skills Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Skills</h2>
                    <h3 class="section-subheading text-muted">Some of skills and tools i often use</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>C#</h4>
                                    <h4 class="subheading">From WinForms to ASP.NET MVC and Xamarin</h4>
                                </div>
                                <div class="timeline-body">
                                    <ul>
                                    <li>Approachable and dependable individual
                                    <li>Interest in staying abreast with latest technology
                                    <li>Self-motivated with ability to develop software and     applications                         
                                    <li>Developing and testing new features for ASP.NET web applications                        
                                     <li>Designing and developing websites on ASP.NET framework through agile development methodology
                                    <li>Technical support for ASP.NET applications
                                    <li>Entity framework
                                    <li>SOLID principles
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>C++</h4>
                                    <h4 class="subheading">Studying since 1995 and Borland C++ 5.0</h4>
                                </div>
                                <div class="timeline-body">
                                 <ul>
                                 <li>Familiarity with C++ templating, C++19, and embedded systems design
                                <li>Excellent Analytical skills and knowledge of web servers (Crow)
                                <li>Able to work alone and with the team and to provide technical feedback
                                <li>Locating bugs and maintaining code quality
                                <li>Testing and implementing C++ applications for Windows platform
                                </ul> 
                              </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Bash</h4>
                                    <h4 class="subheading">Linux Shell Scripting and Administration</h4>
                                </div>
                                <div class="timeline-body">
                                    <ul>
                                    <li>database, software and system configuration and deployment                               
                                    <li>system tuning and enhancement
                                    <li>networking, database and user maintenance 
                                    <li>Any other client requirement for Linux Shell scripting
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>PowerShell</h4>
                                    <h4 class="subheading">Windows Administration</h4>
                                </div>
                                <div class="timeline-body">
                                   <ul>
                                   <li> scripts to aid with capacity planning and monitoring of the virtualization infrastructure.
                                   <li>PowerShell and the VI to develop VMware monitoring and administrate Virtual Machines running on the VMware Infrastructure platform
                                   <li>PowerShell scripts to automate identity Lifecycle Management
                                   </ul>
                                </div>
                            </div>
                        </li>
                         <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/5.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Python</h4>
                                    <h4 class="subheading">PyTest and PyGame</h4>
                                </div>
                                <div class="timeline-body">
                                  <ul>
                                  <li>Django framework based Website and shop 
                                  <li>PyTest for writing test cases
                                  <li>Developing 2D games and game theory algorithhms using PyGame
                                  <li>Deployment of Django website on Heroku using GIT version control system
                                  </ul>
                                  </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/6.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Ruby</h4>
                                    <h4 class="subheading">Testing and plugins for Jekyll(this site is powered by Jekyll which is written in Ruby)</h4>
                                </div>
                                <div class="timeline-body">
                                 <ul>
                                 <li>Ruby Gems
                                 <li>RabbitMQ event-driven microservices
                                 <li>Metasploit scripts in Ruby and automated security scans using Ruby 
                                 <li>Ruby-NMAP
                                 <li>Ruby custom backend development
                                 <li>RSpec testing framework along with Cucumber, Watir, Selenium Web Driver
                                 </ul>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/7.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Docker</h4>
                                    <h4 class="subheading">Linux containers</h4>
                                </div>
                                <div class="timeline-body">
                                   <ul>
                                   <li> Docker and container orchestration like EC2 Container Service, Kubernetes
                                   <li>Docker container clusters with Kubernetes Linux, Bash ,GIT
                                   <li>Continuous Delivery pipeline with Docker, and GitHub and AWS
                                   <li>Deployment automation of applications inside software containers.
                                   <li>Docker maintenance following agile principles with JIRA for maintenance and Bug development tasks.
                                   </ul>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/8.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Amazon Web Services</h4>
                                    <h4 class="subheading">Administration/Monitoring</h4>
                                </div>
                                <div class="timeline-body">
                                    <ul>
                                    <li>Installation and Setup of MariaDB(MySQL) (Master and Slave) Server, Multiple MySQL Instances with different ports.</li>
                                    <li>MySQL Database backup (Hot/Cold) and recovery, repair and optimize tables,
                                    <li>MySQL Database security, creating users and managing permissions.                        
                                    <li>Server Health monitoring with different parameters (System Load, Swap Memory, Hard disk, Apache requests, Mailq) via Nagios and CloudWatch
                                    <li>Amazon Web Services ( EC2, S3, CloudFront,  CloudWatch)
                                    <li>Configuration  User Domain’s on apache server.; User Administration and Permission
                                    <li>Client's website monitoring (both internal and external)  through Nagios        
                                    </ul>
                               </div>
                            </div>
                        </li>
                         <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/9.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Puppet</h4>
                                    <h4 class="subheading">CI/CD Solutions with Puppet and Jenkins</h4>
                                </div>
                                <div class="timeline-body">
                                    <ul>
                                    <li>Bash scripting for Puppet manifests
                                    <li>Ruby scripting to customize the Puppet configuration
                                    <li>Continuous Integration (CI) and Continuous Delivery (CD)  process implementation using Jenkins along with Bash/Ruby scripts  to automate jobs
                                    <li>Familiarity with Bamboo and JIRA
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Contact
                                    <br>Me
                                    <br>Today!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
